{
    "TOKEN": "BOT TOKEN HERE",
    "DISCORD_ROLE": "Discord role which will have permissions to use slash commands",
    "SERVER_TO_WATCH": "Server name which appears in the Tribes Ascend server browser",
    "DEFAULT_SERVER": "pugsettings",
    "NUM_PLAYERS_TEXT_SERVER_DOWN": "Some other game. (Servers down/restarting)",
    "NUM_PLAYERS_TEXT_0": "the pug queue",
    "NUM_PLAYERS_TEXT_1": "practicing on the pug server",
    "NUM_PLAYERS_TEXT_1-14": "players on the pug server",
    "NUM_PLAYERS_TEXT_14+": "Tribes Ascend PUGz"
}